flows.json
[{"id":"a9c3e279.73151","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"cda25a00.8e55c","type":"webhookrelay","z":"a9c3e279.73151","buckets":"gactions","x":200,"y":240,"wires":[["13fee56c.48dca3"]]},{"id":"13fee56c.48dca3","type":"function","z":"a9c3e279.73151","name":"Extract_body","func":"return {\n    payload: msg.payload.body\n};\n","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["56dd5b4f.500194"]]},{"id":"a30332aa.67734","type":"debug","z":"a9c3e279.73151","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":240,"wires":[]},{"id":"ac57b3e.f7d68d","type":"comment","z":"a9c3e279.73151","name":"Entrada de solicitud Voz por WebHookRelay","info":"","x":290,"y":160,"wires":[]},{"id":"739aba12.34498c","type":"comment","z":"a9c3e279.73151","name":"Dashboard","info":"","x":180,"y":340,"wires":[]},{"id":"67587c6d.46871c","type":"ui_gauge","z":"a9c3e279.73151","name":"Temperatura","group":"488a1d3e.d184bc","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":"-10","max":"55","colors":["#1c79df","#0c9a0e","#ca3838"],"seg1":"5","seg2":"29","x":1010,"y":460,"wires":[]},{"id":"d5b06220.54845","type":"ui_slider","z":"a9c3e279.73151","name":"","label":"Regulador de Temp.","tooltip":"Seleccione la Temperatura de Ref","group":"c3b07d83.488218","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"15","max":"28","step":"0.5","x":300,"y":680,"wires":[[]]},{"id":"6b446673.c497d8","type":"ui_gauge","z":"a9c3e279.73151","name":"Humedad","group":"d5b7fb2e.99aed","order":0,"width":"0","height":"0","gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#e36a11","#00be47","#0fb5ec"],"seg1":"30","seg2":"70","x":1000,"y":500,"wires":[]},{"id":"37858349.3703cc","type":"exec","z":"a9c3e279.73151","command":"python nodos.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1020,"y":600,"wires":[["28d0b48d.3e9a04"],[],[]]},{"id":"9873ee78.31c68","type":"ui_button","z":"a9c3e279.73151","name":"","group":"4feb4038.d1ba28","order":1,"width":0,"height":0,"passthru":false,"label":"Actualizar nodos","tooltip":"Pulsar para actualizar la lista de nodos","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":800,"wires":[["949dfd4d.4f4f4"]]},{"id":"28d0b48d.3e9a04","type":"ui_text","z":"a9c3e279.73151","group":"4feb4038.d1ba28","order":3,"width":0,"height":0,"name":"","label":"Lista de nodos","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":587,"wires":[]},{"id":"56dd5b4f.500194","type":"json","z":"a9c3e279.73151","name":"","property":"payload","action":"","pretty":false,"x":710,"y":240,"wires":[["a30332aa.67734"]]},{"id":"7b134e02.3b222","type":"comment","z":"a9c3e279.73151","name":"Sensores conectados","info":"","x":300,"y":400,"wires":[]},{"id":"ff27d7bd.f98608","type":"mqtt in","z":"a9c3e279.73151","name":"Sensor de Temperatura","topic":"0000000001/TempHum/temp","qos":"2","datatype":"auto","broker":"6b6dc1e8.30ffc8","x":300,"y":460,"wires":[["d79990b9.5e4658"]]},{"id":"876c64e3.d800c8","type":"mqtt in","z":"a9c3e279.73151","name":"Sensor de Humedad Rel.","topic":"0000000001/TempHum/hum","qos":"2","datatype":"auto","broker":"6b6dc1e8.30ffc8","x":310,"y":500,"wires":[["7bfb1f51.5ebd1"]]},{"id":"3491c9ae.dd1166","type":"comment","z":"a9c3e279.73151","name":"Actuadores conectados","info":"","x":920,"y":400,"wires":[]},{"id":"73148ddc.654ed4","type":"mqtt in","z":"a9c3e279.73151","name":"Interruptor","topic":"0000000002/Switch/state","qos":"2","datatype":"auto","broker":"6b6dc1e8.30ffc8","x":260,"y":540,"wires":[["790ead05.cdd1c4"]]},{"id":"ff84d896.c21a08","type":"ui_switch","z":"a9c3e279.73151","name":"Interruptor_DASH2","label":"Interruptor 2","tooltip":"Interruptor ON/OFF","group":"4e9819f0.648dd8","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":600,"wires":[[]]},{"id":"2c00e8e4.428cb8","type":"ui_switch","z":"a9c3e279.73151","name":"Interruptor_DASH3","label":"Interruptor 3","tooltip":"Interruptor ON/OFF","group":"4e9819f0.648dd8","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":640,"wires":[[]]},{"id":"88bc8920.92869","type":"mqtt out","z":"a9c3e279.73151","name":"","topic":"0000000003/Relay/state","qos":"","retain":"","broker":"6b6dc1e8.30ffc8","x":1050,"y":540,"wires":[]},{"id":"506aacfe.da1d5c","type":"mqtt out","z":"a9c3e279.73151","name":"","topic":"0000000004/Buzzer/state","qos":"","retain":"","broker":"6b6dc1e8.30ffc8","x":1050,"y":660,"wires":[]},{"id":"35df98f1.834678","type":"mqtt out","z":"a9c3e279.73151","name":"","topic":"0000000004/Buzzer/mode","qos":"","retain":"","broker":"6b6dc1e8.30ffc8","x":1060,"y":700,"wires":[]},{"id":"61c56c6c.ec652c","type":"ui_switch","z":"a9c3e279.73151","name":"Modo_buzzer","label":"Modo Alarma","tooltip":"Interruptor ON/OFF","group":"c3b07d83.488218","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":720,"wires":[["101fae7c.73ccba"]]},{"id":"b518e7a4.e1eda","type":"ui_switch","z":"a9c3e279.73151","name":"Valor_buzzer","label":"Activar Alarma","tooltip":"Interruptor ON/OFF","group":"c3b07d83.488218","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":760,"wires":[["b3d0d09c.9b0058"]]},{"id":"cc41ae87.4fd72","type":"ui_toast","z":"a9c3e279.73151","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Alarma activada","name":"Notif. Alarm ON","x":1160,"y":760,"wires":[[]]},{"id":"1b96563c.f5ccc2","type":"switch","z":"a9c3e279.73151","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":760,"wires":[["cc41ae87.4fd72"]]},{"id":"d79990b9.5e4658","type":"link out","z":"a9c3e279.73151","name":"SensTempIn","links":["c490e4fc.ea5018"],"x":455,"y":460,"wires":[]},{"id":"c490e4fc.ea5018","type":"link in","z":"a9c3e279.73151","name":"SensTempOut","links":["d79990b9.5e4658"],"x":855,"y":460,"wires":[["67587c6d.46871c"]]},{"id":"7bfb1f51.5ebd1","type":"link out","z":"a9c3e279.73151","name":"SensHumIn","links":["6b3602b8.a5166c"],"x":455,"y":500,"wires":[]},{"id":"6b3602b8.a5166c","type":"link in","z":"a9c3e279.73151","name":"SensHumOut","links":["7bfb1f51.5ebd1"],"x":855,"y":500,"wires":[["6b446673.c497d8"]]},{"id":"790ead05.cdd1c4","type":"link out","z":"a9c3e279.73151","name":"InterrIn","links":["a53e2ebf.0c6318"],"x":455,"y":540,"wires":[]},{"id":"a53e2ebf.0c6318","type":"link in","z":"a9c3e279.73151","name":"InterrOut","links":["790ead05.cdd1c4"],"x":855,"y":540,"wires":[["88bc8920.92869"]]},{"id":"101fae7c.73ccba","type":"link out","z":"a9c3e279.73151","name":"buzz_mode","links":["e083c6e7.913d38"],"x":455,"y":720,"wires":[]},{"id":"e083c6e7.913d38","type":"link in","z":"a9c3e279.73151","name":"buzz_mode_out","links":["101fae7c.73ccba"],"x":855,"y":660,"wires":[["506aacfe.da1d5c"]]},{"id":"b3d0d09c.9b0058","type":"link out","z":"a9c3e279.73151","name":"BuzzerValue","links":["6aa4a5a0.399aa4","2b089f68.b9ffe"],"x":455,"y":760,"wires":[]},{"id":"2b089f68.b9ffe","type":"link in","z":"a9c3e279.73151","name":"BuzzerValueOut","links":["b3d0d09c.9b0058"],"x":855,"y":700,"wires":[["35df98f1.834678"]]},{"id":"6aa4a5a0.399aa4","type":"link in","z":"a9c3e279.73151","name":"BuzzerValueOut","links":["b3d0d09c.9b0058"],"x":855,"y":760,"wires":[["1b96563c.f5ccc2"]]},{"id":"949dfd4d.4f4f4","type":"link out","z":"a9c3e279.73151","name":"Act_nodo","links":["f353b25.408915"],"x":455,"y":800,"wires":[]},{"id":"f353b25.408915","type":"link in","z":"a9c3e279.73151","name":"Act_nodo_out","links":["949dfd4d.4f4f4"],"x":855,"y":600,"wires":[["37858349.3703cc"]]},{"id":"488a1d3e.d184bc","type":"ui_group","z":"","name":"Temperatura del salón","tab":"fa5e4f25.a3777","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3b07d83.488218","type":"ui_group","z":"","name":"Actuadores","tab":"83e538bf.ff833","disp":true,"width":"6","collapse":false},{"id":"d5b7fb2e.99aed","type":"ui_group","z":"","name":"Humedad del salón","tab":"fa5e4f25.a3777","order":2,"disp":true,"width":"6","collapse":false},{"id":"4feb4038.d1ba28","type":"ui_group","z":"","name":"Nodos","tab":"76b0a5ab.6c9bec","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b6dc1e8.30ffc8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e9819f0.648dd8","type":"ui_group","z":"","name":"Interruptores","tab":"fa5e4f25.a3777","order":3,"disp":true,"width":"6","collapse":false},{"id":"fa5e4f25.a3777","type":"ui_tab","z":"","name":"Sensores","icon":"av_timer","order":1,"disabled":false,"hidden":false},{"id":"83e538bf.ff833","type":"ui_tab","z":"","name":"Actuadores","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"76b0a5ab.6c9bec","type":"ui_tab","z":"","name":"Nodos","icon":"important_devices","order":3,"disabled":false,"hidden":false}]