flows.json
[{"id":"a9c3e279.73151","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"72ff745.ce2e20c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#c82200","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#c82200","edited":true},"page-titlebar-backgroundColor":{"value":"#c82200","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff3d15","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#c82200","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Panel de control","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa5e4f25.a3777","type":"ui_tab","z":"","name":"Sensores","icon":"av_timer","order":1,"disabled":false,"hidden":false},{"id":"488a1d3e.d184bc","type":"ui_group","z":"","name":"Sensores","tab":"fa5e4f25.a3777","disp":true,"width":"6","collapse":false},{"id":"83e538bf.ff833","type":"ui_tab","z":"","name":"Actuadores","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c3b07d83.488218","type":"ui_group","z":"","name":"Actuadores","tab":"83e538bf.ff833","disp":true,"width":"6","collapse":false},{"id":"d5b7fb2e.99aed","type":"ui_group","z":"","name":"Sensores 2","tab":"fa5e4f25.a3777","order":2,"disp":true,"width":"6","collapse":false},{"id":"28378545.725d2a","type":"ui_spacer","name":"spacer","group":"c3b07d83.488218","order":4,"width":1,"height":"2"},{"id":"cda25a00.8e55c","type":"webhookrelay","z":"a9c3e279.73151","buckets":"gactions","x":200,"y":240,"wires":[["13fee56c.48dca3"]]},{"id":"13fee56c.48dca3","type":"function","z":"a9c3e279.73151","name":"Extract_body","func":"msg.event = \"number_event\";\nmsg.payload ={\"Value1\" : msg.payload.body.value}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["a30332aa.67734"]]},{"id":"a30332aa.67734","type":"debug","z":"a9c3e279.73151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"ac57b3e.f7d68d","type":"comment","z":"a9c3e279.73151","name":"Entrada de solicitud Voz por WebHookRelay","info":"","x":290,"y":160,"wires":[]},{"id":"739aba12.34498c","type":"comment","z":"a9c3e279.73151","name":"Dashboard","info":"","x":220,"y":500,"wires":[]},{"id":"67587c6d.46871c","type":"ui_gauge","z":"a9c3e279.73151","name":"Temperatura","group":"488a1d3e.d184bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"-10","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":580,"wires":[]},{"id":"d5b06220.54845","type":"ui_slider","z":"a9c3e279.73151","name":"","label":"Temperatura Ref.","tooltip":"","group":"c3b07d83.488218","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":430,"y":800,"wires":[[]]},{"id":"6b446673.c497d8","type":"ui_gauge","z":"a9c3e279.73151","name":"Temperatura","group":"488a1d3e.d184bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura 2","label":"units","format":"{{value}}","min":"-10","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":640,"wires":[]},{"id":"56e2f70e.af0be","type":"ui_chart","z":"a9c3e279.73151","name":"","group":"488a1d3e.d184bc","order":2,"width":"4","height":"4","label":"Hist칩rico de humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":700,"wires":[[]]},{"id":"a5b6b5c2.2276c","type":"ui_switch","z":"a9c3e279.73151","name":"","label":"L치mparas Sal칩n","tooltip":"","group":"c3b07d83.488218","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":920,"wires":[[]]},{"id":"f988287f.7838c8","type":"ui_gauge","z":"a9c3e279.73151","name":"Temperatura","group":"d5b7fb2e.99aed","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"-10","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":580,"wires":[]},{"id":"44db31d3.9e3be8","type":"ui_chart","z":"a9c3e279.73151","name":"","group":"d5b7fb2e.99aed","order":2,"width":0,"height":0,"label":"Hist칩rico de humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":700,"wires":[[]]},{"id":"37858349.3703cc","type":"exec","z":"a9c3e279.73151","command":"pwd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":860,"wires":[["28d0b48d.3e9a04"],[],[]]},{"id":"9873ee78.31c68","type":"ui_button","z":"a9c3e279.73151","name":"","group":"c3b07d83.488218","order":5,"width":0,"height":0,"passthru":false,"label":"Actualizar nodos","tooltip":"Pulsar para actualizar la lista de nodos","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":420,"y":860,"wires":[["37858349.3703cc"]]},{"id":"28d0b48d.3e9a04","type":"ui_text","z":"a9c3e279.73151","group":"c3b07d83.488218","order":6,"width":0,"height":0,"name":"","label":"Lista de nodos","format":"{{msg.payload}}","layout":"col-center","x":800,"y":847,"wires":[]},{"id":"18271ce5.b6bdc3","type":"ui_colour_picker","z":"a9c3e279.73151","name":"","label":"Color de LEDs","group":"c3b07d83.488218","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":630,"y":1060,"wires":[[]]},{"id":"a7619e3d.25cca8","type":"ui_dropdown","z":"a9c3e279.73151","name":"","label":"","tooltip":"","place":"Select option","group":"488a1d3e.d184bc","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Hola","value":"Hola","type":"str"},{"label":"Adios","value":"Adios","type":"str"}],"payload":"","topic":"","x":680,"y":620,"wires":[[]]},{"id":"bc5e5e62.d38158","type":"inject","z":"a9c3e279.73151","name":"","topic":"","payload":"[53,55,10,32,57,48,10,32,56,54,10,32,49,49,10,32,54,53,10,32,50,50,10,32,51,55,10,32,53,56,10,32,50,55,10,32,51,54,10,32,53,51,10,32,55,54,10,32,50,48,10,32,55,55,10,32,54,57,10,32,32,56,10,32,52,48,10,32,57,49,10,32,51,48,10,32,56,56,10,32,49,55,10,32,49,56,10,32,52,55,10,32,54,50,10,32,52,50,10,32,55,48,10,32,50,53,10,32,49,48,10,32,52,57,10,32,50,57,10,32,49,54,10,32,57,52,10,32,57,51,10,32,57,53,10,32,32,57,10,32,54,48,10,49,48,48,10,32,51,50,10,32,56,52,10,32,51,56,10,32,51,51,10,32,54,51,10,32,32,55,10,32,49,51,10,32,55,56,10,32,54,52,10,32,54,56,10,32,53,57,10,32,54,54,10,32,51,53,10,32,57,57,10,32,56,48,10,32,55,53,10,32,50,56,10,32,56,55,10,32,54,49,10,32,56,57,10,32,49,57,10,32,57,56,10,32,55,50,10,32,54,55,10,32,56,51,10,32,52,52,10,32,53,49,10,32,57,55,10,32,32,51,10,32,53,53,10,32,56,49,10,32,56,50,10,32,49,53,10,32,32,53,10,32,32,50,10,32,52,56,10,32,51,49,10,32,53,48,10,32,50,52,10,32,55,57,10,32,53,54,10,32,52,53,10,32,57,54,10,32,52,54,10,32,32,49,10,32,32,52,10,32,32,54,10,32,55,49,10,32,53,50,10,32,51,52,10,32,55,52,10,32,49,50,10,32,56,53,10,32,52,49,10,32,55,51,10,32,50,51,10,32,49,52,10,32,57,50,10,32,52,51,10,32,50,54,10,32,50,49,10,32,53,52,10,32,51,57]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":700,"wires":[["56e2f70e.af0be"]]}]